.main{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}
nav p{
    font-size: 25px;
    font-weight: bold;
}
.loginPage {
    width: 70vw;
    border-radius: 20px;
    display: flex;
    height: 450px;
    background: rgba(54, 49, 49, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .illustration{
    height: 100%;
    width: 50%;
}
.pageContent{
    border-radius: 20px;
    width: 50%;
    /* margin-right: 5px; */
    color:black;
    padding-left: 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: start; */
    height: 100%;
    background-color: white;
}

.form{
    height: auto;
    width: 100%;
    margin-top: 40px;
}
.form h4{
    font-size: 25px;
}
.form p{
    font-size: 13px;
    opacity: 0.9;
}
form{
    margin-top: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
form img{
  position: absolute;
  right: 220px;
  top: 2px;
  transform: scale(0.7);
  opacity: 0.7;
  z-index: 200;
}
form input{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.705);
    border-radius: 6px;
    height: 30px;
    width: 200px;
    position: relative;
    padding: 10px;
}
.inputs{
    position: relative;
}
label{
    font-size: 9px;
    position: absolute;
    top: -6px;
    font-weight: 500;
    left: 6px;
    z-index: 100;
    background-color: white;
}
.forgot{
    color: #3496d7;
    margin-top: 20px;
    font-weight: 600;
}
button{
    height: 35px;
    margin-top: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 6px;
    background-color: #3496d7;
}
.acct{
    /* margin-top: 5px; */
}
.acct a{
    color: #3496d7;
    font-weight: 600;
    opacity: 1;
}
/* .logs{
    display: flex;
    align-items: center;
    justify-content: center;
} */










/* Responsive css */




@media screen and (max-width: 600px) {
    body{
        padding: 5px 10px;
        overflow-x: hidden;
    }
    main{
        width: 100vw;
    }
    .loginPage{
        margin-top: 120px;
        width: 95%;
        background: #1a202c;
        border-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: none;
        -webkit-backdrop-filter: blur(0px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .illustration{
        display: none;
    }
    .form img{
        right: 110px;
    }
    .pageContent{
        width: 100%;
        padding-left: 30px;
    }

















    .mobile{
        display: flex;
    }
    .menu{

        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 5px 20px;
        color: white;
        position: absolute;
        align-items: center;
        height: 60px;
        z-index: 300;
/*         
        top: 10px;
        left: 0px;
        background: rgba(54, 49, 49, 0.24);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px); */
    }
    .menu img{
        height: 40px;
        position: absolute;
        right: 30px;
    }
    .content h1{
        font-size: 25px;
        text-align: center;
    }
  nav{
    display: none;
  }
   footer{
    text-align: center;
    position: fixed;
    bottom: 0;
   }
   main{
    flex-direction: column-reverse;
    margin-bottom: 40px;
    min-height: 100vh;
    padding: 10px 20px;
   }
  
.links{
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
}

   .links ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #1a202c;
    z-index: 300;
    left: 0px;
    position: absolute;
    top: 70px;

   }
   a{
    color: white;
   }
   .forgot{
    color: #2b77aa;
    font-weight: bold;
   }
   .acct a{
       color: #2b77aa;
       font-weight: bold;
   }
 }